/* Hoja de estilos concretos para la pagina game.html */

#game-iframe {
    min-height: 100vh;
    border: 0;
    padding: 10px;
    box-sizing: border-box;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    #page-body {
        margin-left: 2%;
        margin-right: 2%;
    }

    #main-content {
        padding: 1% 2%;
    }

    #game-iframe {
        padding: 5px;
    }
}