/* -- General styles */

#page-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
}

#header {
    flex: 0 0 auto;
    min-height: 10vh;
}

#main-content {
    flex: 1 1 auto;
    padding: 2% 5%;
    box-sizing: border-box;
}

#footer {
    flex: 0 0 auto;
    min-height: 10vh;
}

h1 a {
    text-decoration: none;
    /* Elimina el subrayado de los enlaces no visitados */
    color: inherit;
    /* Mantiene el color del texto del padre */
    transition: 0.3s;
}

h1 a:hover {
    color: yellow;
}

/* Index styles */

.game-cover {
    width: 150px;
    transition: 0.3s;
    border-radius: 20px;
}

.game-cover:hover {
    opacity: 70%;
    transform: scale(1.1);
}